h1 {
    color: rgb(100, 200, 20);
    text-align: center;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

a {
    color: rgb(100, 200, 20);
}

img {
    width: 500px
}